* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.game {
  width: 100%;
  max-width: 80vmin;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

h1 {
  font-family: "lobster";
  font-size: 40px;
  width: 90%;
  font-weight: normal;
  text-align: center;
}

.info-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}

.info-container--item {
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 3px 0;
}

.icon {
  border-radius: 5px;
  padding: 5px;
}

.icon--home {
  background-color: #1fcca4;
}

.icon--home:hover {
  background-color: #1cbb96;
}


.icon--repeat {
  background-color: #0197f6;
}

.icon--repeat:hover {
  background-color: #0090e9;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

button {
  flex: 0 0 10%;
  width: 10%;
  padding-top: 10%;
  opacity: 0.5;
  border: 0.5px solid black;
}


.field__button {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

/* stylovani trid pro JS*/

.field__button--circle {
  background-image: url(materials/circle-black.svg);
  animation: zoomIn 0.5s ease
}

.field__button--cross {
  background-image: url(materials/cross-black.svg);
  animation: zoomIn 0.5s ease
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);

  }

  to {
    transform: scale(1)
  }
}

/*
button:hover,
button:focus {
  opacity: 0.8;
}
*/
